/* src/Port.css */
.port {
    width: 30px; /* Reduced width */
    height: 30px; /* Reduced height */
    border: 1px solid #000;
    margin: 5px;
    background-color: #e0e0e0;
    display: inline-block;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .port h3, .port p {
    margin: 0;
    font-size: 10px;
  }
  
  .port p {
    display: none;
  }
  
  .port:hover p {
    display: block;
  }